.artist_title
  -if artist.vibe == "thug"
    = link_to artist.name, artist_path(artist), class: "red"
  -elsif artist.vibe == "wavy"
    = link_to artist.name, artist_path(artist), class: "cyan"
  -elsif artist.vibe == "soul"
    = link_to artist.name, artist_path(artist), class: "purple"
  -elsif artist.vibe == "chill"
    = link_to artist.name, artist_path(artist), class: "green"
  -elsif artist.vibe == "pop"
    = link_to artist.name, artist_path(artist), class: "yellow"
  -elsif artist.vibe == "punk"
    = link_to artist.name, artist_path(artist), class: "bubblegum"
  -elsif artist.vibe == "word"
    = link_to artist.name, artist_path(artist), class: "brown"
  -elsif artist.vibe == "thump"
    = link_to artist.name, artist_path(artist), class: "mustard"
  -else
    = link_to artist.name, artist_path(artist), class: "silver"
