.tags
  = link_to "thug", root_path(vibe: "thug"), class: "red vibe", remote: true
  = link_to "soul", root_path(vibe: "soul"), class: "purple vibe", remote: true
  = link_to "wavy", root_path(vibe: "wavy"), class: "cyan vibe", remote: true
  = link_to "chill", root_path(vibe: "chill"), class: "green vibe", remote: true
  = link_to "pop", root_path(vibe: "pop"), class: "yellow vibe", remote: true
  = link_to "punk", root_path(vibe: "punk"), class: "bubblegum vibe", remote: true
  = link_to "word", root_path(vibe: "word"), class: "brown vibe", remote: true
  = link_to "thump", root_path(vibe: "thump"), class: "mustard vibe", remote: true
  %br
  = link_to "east", root_path(region: "east"), class: "region", remote: true
  = link_to "west", root_path(region: "west"), class: "region", remote: true
  = link_to "south", root_path(region: "south"), class: "region", remote: true
  = link_to "midwest", root_path(region: "midwest"), class: "region", remote: true
  = link_to "+++", root_path(region: "global"), class: "region", remote: true
  %br
  = link_to "2010", root_path(year: "2010"), class: "year", remote: true
  = link_to "2011", root_path(year: "2011"), class: "year", remote: true
  = link_to "2012", root_path(year: "2012"), class: "year", remote: true
  = link_to "2013", root_path(year: "2013"), class: "year", remote: true
  = link_to "2014", root_path(year: "2014"), class: "year", remote: true
  = link_to "2015", root_path(year: "2015"), class: "year", remote: true
  = link_to "2016", root_path(year: "2016"), class: "year", remote: true
