- prev_city = nil
- x = 0
- @artists.each do |artist|
  - if x == 0
    - prev_city = 'nil'
  - current_city = artist.city
  - if current_city != prev_city && artist != @artists.first
    .city_divider
  .music-video-tile{:class => "#{artist.vibe}_artist"}
    .music-video-head
      .side_column_body.col-xs-1
        - if current_city != prev_city
          = link_to root_path(city: "#{artist.city}"), remote: true do
            .city_title{id: "#{artist.id}_city"}
              - artist.city.upcase.split('').each do |character|
                - if current_city == "Chicago" || current_city == "Atlanta" || current_city == "New York" || current_city == "Los Angeles" || current_city == "Miami"
                  %p.gold
                    = character
                -else
                  %p.silver
                    = character
        - prev_city = current_city
        - x += 1
        -# = render 'city_title', artist: artist, current_city: current_city, prev_city: prev_city, x: x
      .center_column_body.col-xs-11
        = render 'artist_title', artist: artist
        .owl-carousel.owl-theme.row{:id => "#{artist.id}_carousel"}
          - artist.music_videos.each do |music_video|
            .carousel_contents
              .col-xs-11
                = render 'track_title', music_video: music_video
                .youtube-player-container
                  .youtube-player{ :data => {:id => music_video.youtube_id } }
              .side_column_body.col-xs-1
                = link_to root_path(year: "#{music_video.year}"), remote: true do
                  - music_video.year.split('').each do |character|
                    .row
                      = character
