.tags
  = link_to "thug", "?vibe=thug", class: "red"
  = link_to "soul", "?vibe=soul", class: "purple"
  = link_to "wavy", "?vibe=wavy", class: "cyan"
  = link_to "chill", "?vibe=chill", class: "green"
  = link_to "pop", "?vibe=pop", class: "yellow"
  = link_to "punk", "?vibe=punk", class: "bubblegum"
  = link_to "word", "?vibe=word", class: "brown"
  = link_to "thump", "?vibe=thump", class: "mustard"
