.root.text-center
  %h3#filter-header
    %span#filter-title
    = button_tag 'x', type: 'button', class: 'btn-link', id: 'remove-filter'
  .music-videos-wrapper
    - prev_city = nil
    - first = true
    - artist_counter = -1
    - @artists.each do |artist|
      - artist_counter += 1
      .artist{class: "#{artist.vibe} #{artist.region} #{artist.city} #{artist.music_videos.map(&:year).join(' ')}" }
        - if first == true
          - prev_city = 'nil'
        - current_city = artist.city
        - if current_city != prev_city && artist != @artists.first
          .city_divider
        .music-video-tile
          .side-column-body.col-xs-1
            - if current_city != prev_city
              - alphabet_character = artist.city[0]
              .alphabet-marker{id: "#{alphabet_character}-position"}
              = link_to artists_path, class: "city", city: "#{artist.city}", remote: true do
                .city-title{id: "#{artist.id}-city-title"}
                  - artist.city.upcase.split('').each do |character|
                    - if character == ' '
                      .spacer
                    - if current_city == "Chicago" || current_city == "Atlanta" || current_city == "New York" || current_city == "Los Angeles" || current_city == "Miami"
                      %p.gold
                        = character
                    -else
                      %p.silver
                        = character
            - prev_city = current_city
            - first = false
          .center-column-body.col-xs-11
            - pagination_counter = 0
            - artist.music_videos.each do |music_video|
              = button_tag "#{pagination_counter}", class: "btn pagination-marker", artist: "#{artist.id}", pagination: "#{pagination_counter}"
              - pagination_counter += 1
            = render 'artist_title', artist: artist
            -music_video_counter = 0
            .owl-carousel.owl-theme.row{id: "#{artist_counter}-carousel"}
              - artist.music_videos.each do |music_video|
                .carousel-tile{class: "#{music_video.year}", artist: "#{artist.id}", id: "#{music_video_counter}-music-video"}
                  -music_video_counter += 1
                  .col-xs-11
                    = render 'track_title', music_video: music_video
                    .youtube-player-container
                      .youtube-player{ data: {id: music_video.youtube_id } }
                        .youtube-iframe{ id: music_video.youtube_id }
                  .side-column-body.col-xs-1
                    = link_to artists_path, class: "year", year: "#{music_video.year}", remote: true do
                      - music_video.year.split('').each do |character|
                        .row
                          = character
