.body.root
  .music-videos-wrapper.row
    - prev_city = nil
    - x = 0
    - @artists.each do |artist|
      .music-video-tile.row
        .music-video-head
          .row
            .side_column_body.col-xs-1
              - if x == 0
                - prev_city = 'nil'
              - current_city = artist.city
              - if current_city != prev_city
                .city_title{:id => "#{artist.id}_city"}
                  - artist.city.upcase.split('').each do |character|
                    - if current_city == "Chicago" || current_city == "Atlanta" || current_city == "New York"
                      %p.gold
                        = character
                    -else
                      %p
                        = character
              - prev_city = current_city
              - x += 1
            .center_column_body.col-xs-11
              .artist_title
                = link_to artist.name, artist_path(artist)
              .owl-carousel.owl-theme.row{:id => "#{artist.id}_carousel"}
                - artist.music_videos.each do |music_video|
                  .carousel_contents
                    .col-xs-11
                      .track_title
                        = music_video.title
                        -if !music_video.featuring.empty?
                          = ' feat ' + music_video.featuring
                      .youtube-player{ :data => {:id => music_video.youtube_id } }
                    .side_column_body.col-xs-1
                      - music_video.year.split('').each do |character|
                        .row
                          = character
      .customNavigation
        %a{ class: "btn", id: "#{artist.id}_prev", title: "Prev" }
        %a{ class: "btn", id: "#{artist.id}_next", title: "Next" }
