.body.root
  .music-videos-wrapper.row
    - @artists.each do |artist|
      .customNavigation
        %a{ class: "btn", id: "#{artist.id}_prev", title: "Prev" }
        %a{ class: "btn", id: "#{artist.id}_next", title: "Next" }
      .music-video-tile.row
        .music-video-head
          .owl-carousel.owl-theme.row{:id => "#{artist.id}"}
            - artist.music_videos.each do |music_video|
              .music-video-tile.row
                .music-video-head
                  .row
                    .side_column_body.col-xs-1
                      - artist.city.upcase.split('').each do |character|
                        .row
                          = character
                    .center_column_body.col-xs-10
                      .artist_title
                        = link_to artist.name, artist_path(artist)
                      .track_title
                        = music_video.title
                        -if !music_video.featuring.empty?
                          = ' feat ' + music_video.featuring
                      .youtube-player{ :data => {:id => music_video.youtube_id } }
                    .side_column_body.col-xs-1
                      - music_video.year.split('').each do |character|
                        .row
                          = character
