.tags
  = form_tag(artists_path, method: 'get', remote: true) do
    = link_to "thug", root_path(vibe: "thug"), class: "red vibe", remote: true
    = radio_button_tag 'vibe', 'thug', false, vibe: 'thug', class: 'filter_radio'
    = link_to "soul", root_path(vibe: "soul"), class: "purple vibe", remote: true
    = radio_button_tag 'vibe', 'soul', false, vibe: 'soul', class: 'filter_radio'
    = link_to "wavy", root_path(vibe: "wavy"), class: "cyan vibe", remote: true
    = radio_button_tag 'vibe', 'wavy', false, vibe: 'wavy', class: 'filter_radio'
    = link_to "chill", root_path(vibe: "chill"), class: "green vibe", remote: true
    = radio_button_tag 'vibe', 'chill', false, vibe: 'chill', class: 'filter_radio'
    = link_to "pop", root_path(vibe: "pop"), class: "yellow vibe", remote: true
    = radio_button_tag 'vibe', 'pop', false, vibe: 'pop', class: 'filter_radio'
    = link_to "punk", root_path(vibe: "punk"), class: "bubblegum vibe", remote: true
    = radio_button_tag 'vibe', 'punk', false, vibe: 'punk', class: 'filter_radio'
    = link_to "word", root_path(vibe: "word"), class: "brown vibe", remote: true
    = radio_button_tag 'vibe', 'word', false, vibe: 'word', class: 'filter_radio'
    = link_to "thump", root_path(vibe: "thump"), class: "mustard vibe", remote: true
    = radio_button_tag 'vibe', 'thump', false, vibe: 'thump', class: 'filter_radio'
    %br
    = link_to "east", root_path(region: "east"), class: "region", remote: true
    = radio_button_tag 'region', 'east', false, region: 'east', class: 'filter_radio'
    = link_to "west", root_path(region: "west"), class: "region", remote: true
    = radio_button_tag 'region', 'west', false, region: 'west', class: 'filter_radio'
    = link_to "south", root_path(region: "south"), class: "region", remote: true
    = radio_button_tag 'region', 'south', false, region: 'south', class: 'filter_radio'
    = link_to "midwest", root_path(region: "midwest"), class: "region", remote: true
    = radio_button_tag 'region', 'midwest', false, region: 'midwest', class: 'filter_radio'
    = link_to "+++", root_path(region: "global"), class: "region", remote: true
    = radio_button_tag 'region', 'global', false, region: 'global', class: 'filter_radio'
    %br
    = link_to "2010", root_path(year: "2010"), class: "year", remote: true
    = radio_button_tag 'year', '2010', false, year: '2010', class: 'filter_radio'
    = link_to "2011", root_path(year: "2011"), class: "year", remote: true
    = radio_button_tag 'year', '2011', false, year: '2011', class: 'filter_radio'
    = link_to "2012", root_path(year: "2012"), class: "year", remote: true
    = radio_button_tag 'year', '2012', false, year: '2012', class: 'filter_radio'
    = link_to "2013", root_path(year: "2013"), class: "year", remote: true
    = radio_button_tag 'year', '2013', false, year: '2013', class: 'filter_radio'
    = link_to "2014", root_path(year: "2014"), class: "year", remote: true
    = radio_button_tag 'year', '2014', false, year: '2014', class: 'filter_radio'
    = link_to "2015", root_path(year: "2015"), class: "year", remote: true
    = radio_button_tag 'year', '2015', false, year: '2015', class: 'filter_radio'
    = link_to "2016", root_path(year: "2016"), class: "year", remote: true
    = radio_button_tag 'year', '2016', false, year: '2016', class: 'filter_radio'
    
    = submit_tag "filter", class: 'submit'
