= simple_form_for @music_video do |f|
  .form-group
    = f.input :title
  .form-group
    = f.input :artist
  .form-group
    = f.input :featuring
  .form-group
    = f.input :location
  .form-group
    = f.input :year
  .form-group
    = f.input :link
  .form-group.text-center
    = f.button :submit
