.music-videos-wrapper.row
  -@music_videos.each do |music_video|
    .music-video
      .music-video-head
        .row
          .col-xs-2
            = music_video.location
          .col-xs-8
            = music_video.artist
            %br
            = link_to music_video.title, music_video_path(music_video)
            %br
            = music_video.featuring
            %iframe{:src => "http://www.youtube.com/embed/#{music_video.youtube_id}", width:"400", height:"200"}
          .col-xs-2
            = music_video.year
