.music-videos-wrapper.row
  .music-video
    .music-video-head
      = @music_video.title
      = @music_video.artist
      = @music_video.featuring
      = @music_video.location
      = @music_video.year
      = @music_video.link
    .text-center.edit-links
      = link_to "Delete Video", music_video_path(@music_video), method: :delete, data: { confirm: 'Are you sure you want to delete "' + @music_video.title + '"?' }
      |
      = link_to "Home", music_videos_path
      |
      = link_to "Edit Video", edit_music_video_path(@music_video)
