.tags.row
  = form_tag(artists_path, method: 'get', remote: true) do
    %h3 play
    #main-playlist-span-container
      %span#main-playlist-span
        = link_to "all young blood", artists_path, id: 'playlist-start', filter: "artist", class: 'main', remote: true
    %h3 or pick playlist
    #vibe-tags
      = link_to "thug", artists_path, id: 'thug-playlist-start', filter: 'thug', class: "vibe", remote: true
      -# = radio_button_tag 'vibe', 'thug', false, vibe: 'thug', class: 'filter filter-radio'
      = link_to "soul", artists_path, id: 'soul-playlist-start',  class: "vibe", filter: 'soul', remote: true
      -# = radio_button_tag 'vibe', 'soul', false, vibe: 'soul', class: 'filter filter-radio'
      = link_to "wavy", artists_path, id: 'wavy-playlist-start', class: "vibe", filter: 'wavy', remote: true
      -# = radio_button_tag 'vibe', 'wavy', false, vibe: 'wavy', class: 'filter filter-radio'
      = link_to "chill", artists_path, id: 'chill-playlist-start', class: "vibe", filter: 'chill', remote: true
      -# = radio_button_tag 'vibe', 'chill', false, vibe: 'chill', class: 'filter filter-radio'
      %br
      = link_to "pop", artists_path, id: 'pop-playlist-start', class: "vibe vibe2", filter: 'pop', remote: true
      -# = radio_button_tag 'vibe', 'pop', false, vibe: 'pop', class: 'filter filter-radio'
      = link_to "punk", artists_path, id: 'punk-playlist-start', class: "vibe vibe2", filter: 'punk', remote: true
      -# = radio_button_tag 'vibe', 'punk', false, vibe: 'punk', class: 'filter filter-radio'
      = link_to "indie", artists_path, id: 'indie-playlist-start', class: "vibe vibe2", filter: 'indie', remote: true
      -# = radio_button_tag 'vibe', 'indie', false, vibe: 'indie', class: 'filter filter-radio'
      = link_to "thump", artists_path, id: 'thump-playlist-start', class: "vibe vibe2", filter: 'thump', remote: true
      -# = radio_button_tag 'vibe', 'thump', false, vibe: 'thump', class: 'filter filter-radio'
    #other-tags
      = link_to "east", artists_path, id: 'east-playlist-start', class: "region", filter: 'east', remote: true
      -# = radio_button_tag 'region', 'east', false, region: 'east', class: 'filter filter-radio'
      = link_to "west", artists_path, id: 'west-playlist-start', class: "region", filter: 'west', remote: true
      -# = radio_button_tag 'region', 'west', false, region: 'west', class: 'filter filter-radio'
      = link_to "south", artists_path, id: 'south-playlist-start', class: "region", filter: 'south', remote: true
      -# = radio_button_tag 'region', 'south', false, region: 'south', class: 'filter filter-radio'
      = link_to "mid", artists_path, id: 'midwest-playlist-start', class: "region", filter: 'midwest', remote: true
      -# = radio_button_tag 'region', 'midwest', false, region: 'midwest', class: 'filter filter-radio'
      = link_to "+", artists_path, id: 'thug-playlist-start', class: "region", filter: 'global', remote: true
      -# = radio_button_tag 'region', 'global', false, region: 'global', class: 'filter filter-radio'
      %br
      = link_to "<-", artists_path, id: 'older-playlist-start', class: "year", filter: 'older', remote: true
      -# = radio_button_tag 'year', '2012', false, year: '2012', class: 'filter filter-radio'
      = link_to "2013", artists_path, id: 'thirteen-playlist-start', class: "year", filter: '2013', remote: true
      -# = radio_button_tag 'year', '2013', false, year: '2013', class: 'filter filter-radio'
      = link_to "2014", artists_path, id: 'fourteen-playlist-start', class: "year", filter: '2014', remote: true
      -# = radio_button_tag 'year', '2014', false, year: '2014', class: 'filter filter-radio'
      = link_to "2015", artists_path, id: 'fifteen-playlist-start', class: "year", filter: '2015', remote: true
      -# = radio_button_tag 'year', '2015', false, year: '2015', class: 'filter filter-radio'
      = link_to "2016", artists_path, id: 'sixteen-playlist-start', class: "year", filter: '2016', remote: true
      -# = radio_button_tag 'year', '2016', false, year: '2016', class: 'filter filter-radio'
  -# .col-xs-2
  -#   = button_tag "ALL", id: 'playlist-start', remote: true

    -# = submit_tag "filter", class: 'submit filter-radio', id: 'advanced-filter-submit'

  -# =button_tag "advanced search", id: 'advanced-toggle'
  -# =button_tag "reset", id: 'reset-radio'
