%nav.navbar.navbar-default
  .navbar-container
    .navbar-header
      %button.navbar-toggle.collapsed{"data-target" => "#bs-navbar-collapse-1", "data-toggle" => "collapse", type: "button"}
        %span.sr-only Toggle Navigation
        %span.icon-bar
        %span.icon-bar
      .navbar-brand
        = link_to image_tag("young_blood_nav.png"), root_path
    .collapse.navbar-collapse#bs-navbar-collapse-1
      %ul.nav.navbar-nav.navbar-right
        - if user_signed_in?
          .row
            %li
              = link_to "Put it on the map", new_music_video_path
          .row
            %li
              = link_to "Logout", destroy_user_session_path, method: :delete
        - else
          .row
            %li
              = link_to "Login", new_user_session_path
          .row
            %li
              = link_to "Register", new_user_registration_path
