%hml
  %head
    %title Young Blood
    %meta{:charset => "utf-8"}
    %meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}

    = favicon_link_tag 'favicon.ico'
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags


  %body
    -# #landing_page
    -#   = image_tag "young_blood_logo_white_text.png"
    -# %script(type='text/javascript')
      -# $("#landing_page").show().delay(800).slideUp(1000).delay(400);
    #header_container
      #young_blood_header
        = render 'layouts/navbar'
    #content_container.container
      #alphabet-container.text-center
        = render 'alphabet_links'
      #flash-response
        = render 'flash_response'
      = yield
    -# %script(type='text/javascript')
      -# $("#young_blood_header").delay(1600).fadeIn(800);
      -# $("#content_container").delay(2600).show();
    .footer
