%hml
  %head
    %title Young Blood
    %meta{:charset => "utf-8"}
    %meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}

    = favicon_link_tag 'favicon.ico'
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags


  %body
    -# #landing_page
    -#   = image_tag "young_blood_logo_white_text.png"
    #young_blood_header
      = render 'layouts/navbar'
    .container
      #content_container
        -flash.each do |name, msg|
          = content_tag :div, msg, class: [:alert, alert_for(name)]
        = yield
    .footer
